# Lab 2,5

### Primero importamos las librerias y definimos el utf
Además definimos la codificación utf-8 por que esta soporta el uso de acentos, y definimos el numero maximos de filas que se mostraran cuando se abra un df.

In [26]:
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 20)

### Creamos un nuevo DataFrame
Para crear un df necesitamos un vector con los nombres de las columnas, un vector con los indices, y una matriz con los valores.

1. Creamos la variable `column_names`, que contiene los *nombres* de las columnas
2. Luego creamos la variable `date_index`, que contiene los *indices* de nuestro df. En este caso corresponden a una fecha con una peridiocidad diaria, y no a algún número arbitrario.
3. Definimos una matriz de dimensiones 6x4 de valores aleatorios y la llamamos `values`
4. Definimos el DataFrame `df` con los vectores y matrices definidos en los puntos 1-3.

In [27]:
column_names=['A','B','C','D']
date_index=pd.date_range('20130101',periods=6,freq='D')
values=np.random.rand(6,4)

df=pd.DataFrame(values,date_index,column_names)

df

                   A         B         C         D
2013-01-01  0.844306  0.194695  0.487720  0.487290
2013-01-02  0.030299  0.141178  0.612540  0.262073
2013-01-03  0.601528  0.073422  0.131398  0.493960
2013-01-04  0.272328  0.026554  0.906302  0.159654
2013-01-05  0.654645  0.754211  0.448332  0.015176
2013-01-06  0.093055  0.974637  0.219688  0.324684

### Luego filtramos la matriz
Para los **df** es necesario usar uno de los siguientes métodos:

* Método .iloc    
    `.iloc` es corto para *integer localization*, se usa para filtrar la matríz usando valores numéricos para el índice y las columnas.


* Método .loc     
    `.loc` es corto para *localization*, se usa para filtrar la matríz usando los *nombres de las columnas* y valores númericos para el índice.

In [28]:
aux1=df.iloc[2:4,[0,3]]
aux1

                   A         D
2013-01-03  0.601528  0.493960
2013-01-04  0.272328  0.159654

In [29]:
aux2=df.loc[:,['A','C']]
aux2

                   A         C
2013-01-01  0.844306  0.487720
2013-01-02  0.030299  0.612540
2013-01-03  0.601528  0.131398
2013-01-04  0.272328  0.906302
2013-01-05  0.654645  0.448332
2013-01-06  0.093055  0.219688

In [30]:
start_row=2
start_col=2
n=len(df)
m=len(df.columns)
aux3=df.iloc[start_row:n,start_col:m]
aux3

                   C         D
2013-01-03  0.131398  0.493960
2013-01-04  0.906302  0.159654
2013-01-05  0.448332  0.015176
2013-01-06  0.219688  0.324684

### Creamos un nuevo DF

Simularemos una base de datos que incluya el valor del cobre y el ipc, con una peridiocidad mensual.

In [31]:
col_names2=['ipc','cobre']
date_index2=pd.date_range('20130103',periods=6,freq='D')
values2=np.random.rand(6,2)
df2=pd.DataFrame(values2,date_index2,col_names2)

df2

                 ipc     cobre
2013-01-03  0.264621  0.376516
2013-01-04  0.118117  0.821853
2013-01-05  0.027797  0.114237
2013-01-06  0.453293  0.936751
2013-01-07  0.400036  0.169120
2013-01-08  0.684501  0.518486

### Juntamos ambos dataframes

* Primero con el método de las matrices
* Luego con el método concat

In [32]:
frames=[df,df2]
df3=pd.concat(frames,axis=1)

frames
df3

                   A         B         C         D       ipc     cobre
2013-01-01  0.844306  0.194695  0.487720  0.487290       NaN       NaN
2013-01-02  0.030299  0.141178  0.612540  0.262073       NaN       NaN
2013-01-03  0.601528  0.073422  0.131398  0.493960  0.264621  0.376516
2013-01-04  0.272328  0.026554  0.906302  0.159654  0.118117  0.821853
2013-01-05  0.654645  0.754211  0.448332  0.015176  0.027797  0.114237
2013-01-06  0.093055  0.974637  0.219688  0.324684  0.453293  0.936751
2013-01-07       NaN       NaN       NaN       NaN  0.400036  0.169120
2013-01-08       NaN       NaN       NaN       NaN  0.684501  0.518486

### Revisamos métodos de extrapolación de valores ausentes (NaN)
* Primero vemos que se pierde gran cantidad de información si esque simplemente se eliminan los NaN. Dado esto, es recomendable extrapolarlos antes que perder tanta información.
* Luego usamos el metodo *foward-fill* para extrapolar
* Por último usamos el metodo *Backward-fill* para extrapolar

In [33]:
aux3=df.dropna()
aux3

                   A         B         C         D
2013-01-01  0.844306  0.194695  0.487720  0.487290
2013-01-02  0.030299  0.141178  0.612540  0.262073
2013-01-03  0.601528  0.073422  0.131398  0.493960
2013-01-04  0.272328  0.026554  0.906302  0.159654
2013-01-05  0.654645  0.754211  0.448332  0.015176
2013-01-06  0.093055  0.974637  0.219688  0.324684

In [34]:
df5=df3.fillna(method='ffill')
df5

                   A         B         C         D       ipc     cobre
2013-01-01  0.844306  0.194695  0.487720  0.487290       NaN       NaN
2013-01-02  0.030299  0.141178  0.612540  0.262073       NaN       NaN
2013-01-03  0.601528  0.073422  0.131398  0.493960  0.264621  0.376516
2013-01-04  0.272328  0.026554  0.906302  0.159654  0.118117  0.821853
2013-01-05  0.654645  0.754211  0.448332  0.015176  0.027797  0.114237
2013-01-06  0.093055  0.974637  0.219688  0.324684  0.453293  0.936751
2013-01-07  0.093055  0.974637  0.219688  0.324684  0.400036  0.169120
2013-01-08  0.093055  0.974637  0.219688  0.324684  0.684501  0.518486

In [35]:
df6=df3.fillna(method='bfill')
df6

                   A         B         C         D       ipc     cobre
2013-01-01  0.844306  0.194695  0.487720  0.487290  0.264621  0.376516
2013-01-02  0.030299  0.141178  0.612540  0.262073  0.264621  0.376516
2013-01-03  0.601528  0.073422  0.131398  0.493960  0.264621  0.376516
2013-01-04  0.272328  0.026554  0.906302  0.159654  0.118117  0.821853
2013-01-05  0.654645  0.754211  0.448332  0.015176  0.027797  0.114237
2013-01-06  0.093055  0.974637  0.219688  0.324684  0.453293  0.936751
2013-01-07       NaN       NaN       NaN       NaN  0.400036  0.169120
2013-01-08       NaN       NaN       NaN       NaN  0.684501  0.518486

### Por último, hacemos un repaso de normalización.

In [36]:
import pandas as pd

location = r'raw_data.xlsx'

df=pd.read_excel(location)
df= df.dropna()
df

,USDCLP,USSW1,CHSWP1,MXN,CLPBODM,ES1,PET,VIX,HGA
2012-09-27,471.14,0.3660,4.92,12.8263,-8276.0,1441.00,91.85,16.100,355.20
2012-09-28,474.98,0.3340,4.93,12.8592,-8191.0,1434.25,92.19,16.400,356.65
2012-10-01,474.04,0.3410,4.95,12.8283,-8260.0,1437.00,92.48,18.300,359.15
2012-10-02,473.65,0.3480,4.92,12.8562,-8473.0,1441.00,91.89,17.950,360.80
2012-10-03,474.65,0.3340,4.94,12.8165,-8692.0,1444.75,88.14,17.700,359.35
...,...,...,...,...,...,...,...,...,...
2017-06-14,661.30,1.3837,2.48,17.9196,-10116.0,2435.25,44.73,12.275,258.75
2017-06-15,666.03,1.3995,2.49,18.0438,-10196.0,2432.00,44.46,12.425,258.05
2017-06-16,665.35,1.3957,2.50,17.9199,-10207.0,2431.00,44.74,12.325,257.90
2017-06-19,661.71,1.4192,2.50,17.9593,-10196.0,2447.50,44.20,12.125,260.60
2017-06-20,664.28,1.4140,2.50,18.1816,-10207.0,2440.00,43.23,12.120,257.70

In [37]:
df_norm=(df-df.mean(axis=0))/df.std(axis=0)
df_norm

,USDCLP,USSW1,CHSWP1,MXN,CLPBODM,ES1,PET,VIX,HGA
2012-09-27,-1.641943,-0.634761,1.554088,-0.987420,0.189430,-1.961263,0.877793,-0.069234,1.634407
2012-09-28,-1.592716,-0.728671,1.567351,-0.975196,0.217859,-1.987684,0.891190,0.051804,1.666050
2012-10-01,-1.604766,-0.708128,1.593878,-0.986677,0.194782,-1.976920,0.902617,0.818377,1.720607
2012-10-02,-1.609766,-0.687586,1.554088,-0.976310,0.123542,-1.961263,0.879369,0.677166,1.756614
2012-10-03,-1.596946,-0.728671,1.580614,-0.991061,0.050296,-1.946585,0.731611,0.576301,1.724971
...,...,...,...,...,...,...,...,...,...
2017-06-14,0.795828,2.351876,-1.682149,0.905088,-0.425973,1.930387,-0.978838,-1.612467,-0.470395
2017-06-15,0.856464,2.398244,-1.668886,0.951237,-0.452730,1.917666,-0.989476,-1.551948,-0.485670
2017-06-16,0.847747,2.387092,-1.655623,0.905200,-0.456409,1.913752,-0.978444,-1.592294,-0.488944
2017-06-19,0.801084,2.456058,-1.655623,0.919840,-0.452730,1.978335,-0.999721,-1.672986,-0.430023
2017-06-20,0.834030,2.440797,-1.655623,1.002439,-0.456409,1.948979,-1.037941,-1.675004,-0.493308